/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for dark mode */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

main {
    max-width: auto;
    transition: 0.3s ease; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
    padding-top: 70px; /* Prevent content from being hidden under the fixed navbar */
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Navbar Styles */
.navbar {
    background-color: #fff !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    padding: 0 20px;
    height: fit-content; /* Set height for larger screens */
    align-items: center!important;
}

.navbar.dark-mode {
    background-color: #333333 !important;
    color: #ffffff !important;
}

.nav {
    border-bottom: 1px solid black !important;
    align-items: center;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: black !important;
    padding: 0 15px;
    padding-left: 0;
}

.nav-link.dark-mode {
    color: white !important;
}

.menu {
    --s: 20px; /* control the size */
    --c: black; /* the color */
    align-items: center;
    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/2) solid #0000; 
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
           no-repeat content-box border-box;
    --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
           repeat-y content-box border-box;
    background: 
      var(--_g2) left  var(--_p,0px) top,
      var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
      var(--_g2) right var(--_p,0px) top,
      var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
    background-size: 
      20% 80%,
      40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
    cursor: pointer;
    transition: 
      background-position .3s var(--_s,.3s), 
      clip-path 0s var(--_s,.6s);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.menu:before,
.menu:after {
    content:"";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
}

.menu:checked:before {
    transform: rotate(45deg);
}

.menu:checked:after {
    transform: rotate(-45deg);
}

.menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
}

.menu.dark-mode {
    --c: white; /* the color */
}

/* Header Styles */
.header {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #b31b1b;
}

/* Flex Styles */
.flex {
    display: flex;
}

/* Sidebar Styles */
.sidebar {
    width: 21%; /* Increased width by 30px */
    padding: 20px;
    background-color: #fff;
    height: 100vh; /* Adjusted height */
    overflow: auto;
    z-index: 100;
    margin-top: 20px;
}

.sidebar h4 {
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 700;
    color: #b31b1b;
}

.sidebar.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

/* Container Styles */
.container {
    margin-top: 0 !important;
    width: calc(100% - 21%);
    max-width: 1200px; /* Set maximum width */
    min-height: calc(100vh - 70px); /* Adjusted to keep footer at bottom */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the individual cards */
    padding: 20px;
    margin-right: auto; /* Center container horizontally */
    margin-left: auto; /* Center container horizontally */
}

.container.dark-mode {
    background-color: #222222;
    color: #ffffff;
}

/* Search Group Styles */
.search-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.search-group input {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
}

.search-group button {
    border-radius: 4px;
    background-color: #b31b1b;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-group button:hover {
    background-color: #a11a1a;
}

/* Padding Styles */
.padding {
    padding: 20px;
    max-height: 420px;
}

/* Image Styles */
.image {
    width: 100%;
}

/* Opportunity Card Styles */
.opportunity-card {
    max-width: 100%;
    width: 95%; /* Adjust this width as needed */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative; /* Add relative positioning */
}

.opportunity-card.dark-mode {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

.opportunity-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    cursor: pointer;
}

.opportunity-card a {
    color: inherit;
    text-decoration: none;
}

.opportunity-card.dark-mode p {
    color: #ffffff; /* Change the text color to white in dark mode */
}

.card-body h5 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #b31b1b;
    font-weight: 700;
}

.card-body p {
    font-size: 1rem;
    color: #666;
}

/* Modal Body Styles */
.modal-body ul {
    padding-left: 20px;
}

.modal-body ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.modal-content {
    background-color: #fff;
    color: #000;
}

.modal-content.dark-mode {
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.modal-content.dark-mode a {
    color: #4db6ac; /* Calming teal for links */
}

.btn-close.dark-mode{
    background-color: white;
}

/* Footer Styles */
footer {
    background-color: #111;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300; /* Thin font for the entire footer */
    z-index: 1000;
}

footer.dark-mode {
    background-color: #222222;
    color: #ffffff;
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1); /* Box shadow for distinction */
    border-top: 1px solid #333333; /* Border for distinction */
}

.footer-logo-container {
    background-color: #b31b1b; /* Dark red background color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 70px; /* Slightly bigger height */
    justify-content: flex-start; /* Left align the image */
}

.footer-logo-container img {
    height: 60px; /* Slightly bigger logo */
    max-width: 350px; /* Ensure the image does not stretch */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 150px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ddd;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-top: 1px solid #333;
}

footer a {
    color: white !important;
    text-decoration: underline !important;
}

.footer-bottom p {
    margin: 0;
}

/* Job Count Styles */
.job-count {
    font-weight: bold;
}

.job-count p {
    font-size: 1rem;
    font-weight: bold;
    color: #a11a1a;
}

.job-count.dark-mode {
    color: #4db6ac; /* Calming teal for dark mode */
}

/* Toast Styles */
.toast-body {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toast-container {
    position: fixed;
    top: 0px; /* Adjust based on your navbar height */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 50%;
}

.toast-body {
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #d4edda;
    color: #155724;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1c1c1c !important; /* Dark grey */
    color: #e0e0e0; /* Softer white */
}

.navbar.dark-mode {
    background-color: #1c1c1c !important; /* Dark grey */
    color: #e0e0e0 !important;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Box shadow for distinction */
}

.nav-link.dark-mode {
    color: #e0e0e0 !important; /* Softer white for navigation links */
}

.sidebar.dark-mode {
    background-color: #1c1c1c; /* Dark grey */
    color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Box shadow for distinction */
}

.container.dark-mode {
    background-color: #1c1c1c; /* Dark grey */
    color: #e0e0e0;
}

.opportunity-card.dark-mode {
    background-color: #1c1c1c; /* Dark grey */
    color: #e0e0e0;
    border: 1px solid #333333; /* Border for distinction */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Box shadow for distinction */
}

.opportunity-card.dark-mode p {
    color: #d3d3d3; /* Softer white for paragraph text */
}

.opportunity-card.dark-mode .card-body h5 {
    color: #4db6ac; /* Calming teal for the title */
}

.footer-logo-container.dark-mode {
    background-color: #121212; /* Softer black */
}

.footer-section.dark-mode h3 {
    color: #4db6ac; /* Calming teal for footer section titles */
}

.footer-section.dark-mode ul li a {
    color: #e0e0e0; /* Softer white for footer links */
}

.footer-bottom.dark-mode p {
    color: #e0e0e0;
}

/* Sidebar Positioning */
.sidebar {
    position: sticky;
    top: 0px; /* Adjust based on your navbar height */
    padding-top: 1%;
}

/* Responsive Styles */
@media (max-width: 992px) {
    main {
        margin: 0 auto;
        padding: 0 5%;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative !important;
        border-right: none;
        top: 0 !important;
        box-shadow: none;
        padding-top: 0 !important;
    }
    .sidebar.dark-mode{
        box-shadow: none;
    }

    .flex {
        flex-direction: column;
        padding-top: 0;
    }

    .filters-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
    }

    .col1 {
        margin-right: 30%;
    }

    .container {
        margin-left: 0 !important;
        width: 100%;
        align-items: center; /* Center the individual cards */
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin: 10px 0;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .social-icons {
        margin-top: 10px;
    }

    .opportunity-card {
        width: 90%; /* Adjust width for medium screens */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        top: 0;
        border-right: none;
        box-shadow: none;
    }

    .container {
        margin-left: 0;
        width: 100%;
        align-items: center; /* Center the individual cards */
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin: 10px 0;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .social-icons {
        margin-top: 10px;
    }

    .opportunity-card {
        width: 95%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 576px) {
    .sidebar {
        padding: 10px;
    }

    .container {
        padding: 10px;
        align-items: center; /* Center the individual cards */
    }

    .opportunity-card {
        width: 100%; /* Adjust width for extra small screens */
    }
}

@media (min-width: 992px) {
    .container {
        max-width: none !important;
    }

    .navbar {
        height: 70px;
    }

  
}

 @media (min-width:2000px) {
    main{
        max-width: 1700px !important; 
        margin: 0 auto;
    }
    .container {
        margin-left: 560px;
    }
    nav{
        padding: 0 10%!important;
    }
    .footer-logo-container,.footer-container,.footer-bottom{
        padding: 0 10%;
    }

    .opportunity-card{
        width: 100%;
    }

    .sidebar {
       width: 500px!important;
       position: fixed;
       left: 10%;
       margin-top: 4%;
    }
    
}

/* Navbar Toggle Button Styles */
.navbar-toggler {
    width: 50px;
    height: 50px;
    z-index: 10000;
    align-items: center;
}

/* Navigation Menu Styles */
nav {
    background: #fff;
    line-height: 30px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 9998;
    transition: all 0.5s;
    align-items: center;
}

nav ul.navbar-menu li {
    display: inline-block;
    margin: 0 10px;
}

nav ul.navbar-menu li a {
    color: #666;
    font-size: 14px;
}

nav a#brand {
    text-transform: uppercase;
    float: left;
    font-weight: 800;
    font-size: 20px;
}

nav button {
    background: none;
    width: 30px;
    height: 40px;
    border: none;
    float: right;
    display: inline-block;
    cursor: pointer;
    display: none;
}

nav button span {
    width: 30px;
    height: 2px;
    background: #333;
    display: block;
}

@media (max-width: 992px) {
    nav ul.navbar-menu {
        display: none;
    }

    nav button {
        display: block;
    }
}
